.ingrediente-button {
    text-align: center;
    color: #000;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;

    /*impedir que se seleccione el texto*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

input:checked + label {
    background-color: #000!important;
    color: white;
}

